/* Styles for the acquisition app
Author: Dominik Bláha, blahad@sic.czu.cz 2019 */


body{
    width: 90%;
    margin: auto;
}

#data #container{
    max-width: 100%;
    max-height: 800px;
    overflow: scroll;
}

#data table{
  border-collapse: collapse;
}

#data thead th {
  background: #000;
  color: #FFF;
  width: 15em;
  }

#data tbody th {
    background: #FFF;
    border-right: 1px solid #CCC;
}
#data td, th {
    padding: 0.25em;
}
.stats:nth-child(even){
    border-right: 1px solid #CCC;
}

.sortable {
    cursor: pointer;
}

#login {
    
    
    position: absolute;
    top: 40%;
    left: 40%;
}
#login form {
    padding: 16px;
    border: 3px solid #f1f1f1;
    display: inline-block;
}

#login input{
    display: block;
    margin-bottom: 0.5em;
    
}

#login label{
    float: left;
    margin-right: 0.5em;
}

#login .forgot{
    clear: both;
}

.error{
    border: 2px solid red;
}

.green{
    border: 2px solid green !important;
}